* {
   margin:0;
   padding:0;
   box-sizing: border-box;
 }
 /*共通*/
main {
  min-height: calc(100vh);
}
footer {
  height: 50px;
  margin-top:50px;
}

footer p{
 text-align: center;
line-height:50px;
}
 

.return{
  text-align:center;
  color:#00F;
  margin-top:50px;
}

.error_box{
  margin:15px;
}
.error_message{
  color:#F00;
}

.green_button{
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #007700;
}

.green_button:hover {
  color: #fff;
  background-color: #228B22;
}

.red_button{
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #CC3300;
}

.red_button:hover {
  color: #fff;
  background-color: #FF3300;
}

.blue_button{
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #005FFF;
  margin-left:5px;
}

.blue_button:hover {
  color: #fff;
  background-color: #2C7CFF;
}


 
 
/*トップページ*/
.myplan_box{
  width: 1024px;
  margin: 0 auto;
}

.introduction{
 text-align:center;
 margin-top:30px;
}

.login_button{
  padding:10px;
  border-radius:5px;
  color: #fff;
  background-color: #007700;
  margin:20px 10px 20px 10px;
}

.login_button:hover {
  color: #fff;
  background-color: #228B22;
} 

.register_button{
  padding:10px;
  border-radius:5px;
  color: #fff;
  background-color: #005FFF;
  margin:20px 10px 20px 10px;
}

.register_button:hover {
  color: #fff;
  background-color: #2C7CFF;
}

.top_contents{
  width:600px;
  margin: 0 auto;
}
.button_group{
  display: flex;
  justify-content: center;
}

.top_contents img{
  margin:20px auto;
}

.myplan_box h1 {
  font-size:35px;
  margin-bottom:20px;
}
.myplan_box p{
  font-size:20px;
}

.about_button{
  padding:10px;
  border-radius:5px;
  color: #fff;
  background-color: #7B3CFF;
  margin:20px 10px 20px 10px;
}

.about_button:hover {
  color: #fff;
  background-color: #B384FF;
}



 
 /*一覧ページ*/ 
.index_box{
  width: 1024px;
  margin: 0 auto;
  display: flex;
}
header{
    margin-bottom:50px;
}
.sub_box{
  width:300px;
  padding:20px;
  background-color:#DCC2FF;
  padding-bottom:200px;
}
.sub_box h2{
  font-size:25px;
  border-bottom: 2px solid #000;
  text-align:center;
}

.sub_box form{
  margin-top:50px;
}
.sub_box table{
  margin-top:20px;
}

.sub_box span{
  font-size:12px;
  color:#FFF;
  background-color:	#CC3366;
  padding:5px;
  margin-right:10px;
}

.create_box button{
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 50px;
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #eb6100;
}

.create_box button:hover {
  color: #fff;
  background-color: #f56500;
}

.create_box input{
  margin-top: 5px;
  margin-bottom: 5px;
}

.create_box select{
  margin-top: 5px;
}

.create_box select{
  width: 100%;
}

.search select{
  width: 180px;
}

.search button{
  margin-left: 10px;
  padding:10px;
  border-radius:5px;
  color: #fff;
  background-color: #eb6100;
}


.main_box{
  width:650px;
  margin:0 auto;
}

.main_box h1{
  font-size:30px;
  text-align:center;
  margin-bottom:50px;
}

.main_box table {
  width:100%;
  border-spacing: 0;
}

.main_box table th{
  border-bottom: solid 2px #808080;
  padding: 10px 0;
}

.main_box table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
}

.main_box table tr:nth-child(2n) {
  background-color: #D9E5FF;
}

span{
  margin-right:5px;
  margin-left:5px;
}
.status_true{
  color:#FF3399;
}




/*edit画面*/

.edit_box{
  width: 1024px;
  margin: 0 auto;
}

.edit_box h1{
  font-size:30px;
  text-align:center;
}

.edit_contents{
 width:100%;
 display: flex;
 margin:0 auto;
 padding-top:30px;
}

.todo_edit{
  width:450px;
  padding-bottom:50px;
  background-color: #D9E5FF;
   border: 4px solid #2E8B57;
  margin:0 auto;
}

.todo_edit button{
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom: 50px;
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #007700;
}

.todo_edit button{
 color: #fff;
  background-color: #228B22;
}

.todo_list_edit{
  width:450px;
  padding-bottom:50px;
  background-color:#FAEBD7;
  border: 4px dashed #2E8B57;
  margin:0 auto;
}

.edit_contents h2{
  font-size:25px;
  text-align:center;
  margin-top:20px;
  margin-bottom:30px;
}

.edit_contents h3{
  font-size:20px;
  text-align:center;
  margin-top:20px;
  margin-bottom:30px;
}

.edit_contents input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.edit_contents select{
 width:98%;
 margin-top: 5px;
}

.edit_contents table {
  /*width:90%;*/
  margin:0 auto;
  border-spacing: 0;
  

}
.edit_contents label{
  font-size:14px;
  color:#FFF;
  background-color:	#CC3366;
  padding:5px;
  margin-right:10px;
}


/*show画面*/

.show_box{
  width: 1024px;
  margin:0 auto;
}

.show_header{
  margin:0 auto;
}

.show_header h1{
  font-size:30px;
  text-align:center;
  background-color: #FFFF99;
  padding:10px;
  margin-right:30px;
}

.show_header_contents{
  display: flex;
  justify-content:center;
  margin-top:20px;
  align-items: center;
}
.due_date{
  font-size: 18px;
  margin-right: 30px;
  text-align:center;
}

.complete_button{
  padding:5px;
  border-radius:5px;
  color: #fff;
  background-color: #FF367F;
  margin-left: 30px;
}

.complete_button:hover {
  color: #fff;
  background-color: #FF82B2;
}

.list_btn{
  padding:10px;
  border-radius:50%;
  color: #fff;
  background-color:#8EB8FF;
  margin-left: 30px;
}

.list_btn:hover {
  color: #fff;
  background-color: #BAD3FF;
}

.show_sub_header{
  display: flex;
  justify-content:center;
  margin-top:20px;
  margin-bottom: 20px;
  align-items: center;
}
.show_sub_header p{
  font-size:18px;
  margin-right: 30px;
}

.show_contents{
  width:100%;
  margin: 0 auto;
  display: flex;
}

.todo_box{
  width:450px;
  padding-bottom:50px;
  background-color: #D9E5FF;
  margin:0 auto;
}

.done_box{
  width:450px;
  padding-bottom:50px;
  background-color: #FFDBC9;
  margin:0 auto;
  
}

.show_box table {
  width:90%;
  margin:0 auto;
  border-spacing: 0;

}

.show_box  table th{
  border-bottom: solid 2px #808080;
  padding: 10px 0;
}

.show_box  table td{
  border-bottom: solid 1px #808080;
  text-align: center;
  padding: 10px 0;
}


.show_content_title{
  font-size:25px;
  text-align:center;
  margin-top:10px;
  margin-bottom:20px;
}

.complete{
  font-size: 20px;
  color:#FF0066;
}

/*aboutページ*/
.about_box{
  width: 90%;
  margin: 0 auto;
}

.about_box h1{
  font-size: 35px;
  text-align: center;
  margin-bottom:30px;
  
}



